apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: springboot-backend
  labels:
    app: springboot-backend
spec:
  selector:
    matchLabels:
      app: springboot
      tier: backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: springboot
        tier: backend
    spec:
      containers:
        - image: robeferre/example-service:${GIT_COMMIT}
          name: example-service
          ports:
            - containerPort: 8080
              name: ci-deploy
