apiVersion: v1
kind: Service
metadata:
  name: springboot-service
  labels:
    app: springboot
    environment: ${ENV}
    tier: backend
spec:
  ports:
    - port: 8080
  selector:
    app: springboot
    tier: backend
    env: ${ENV}
  type: LoadBalancer
